@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --color-primary: #0d6cf2;
    --color-primary-accent: #0d6cf2e6;
    --color-bg-dark: #0f1115;
    --color-surface-dark: #1a1d23;
    --color-border-dark: #2d333d;
    --color-testcolor: #ff00ff;
    --background: #ffffff;
    --foreground: #171717;
  }

  html.dark {
    --background: #0f1115;
    --foreground: #f1f5f9;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
